<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="biz.ohrae.challenge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZeroEyesChallenge"
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        tools:targetApi="31">
        <activity
            android:name="biz.ohrae.challenge_screen.ui.main.MainActivity"
            android:screenOrientation = "portrait"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="challenge.mooin.kr"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.login.LoginActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.register.RegisterActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.detail.ChallengeDetailActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.participation.ParticipationActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.mychallenge.MyChallengeActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.payment.ChallengePaymentActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.challengers.ChallengersActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.detail.ChallengeAuthFeedActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.main.BannerDetailActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.policy.PolicyActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.niceid.NiceIdActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="biz.ohrae.challenge_screen.ui.welcome.WelcomeActivity"
            android:screenOrientation = "portrait"
            android:exported="true">
        </activity>
    </application>
</manifest>